/*Основні роздільні здатності:
▪ 320 px – мобільний пристрій (портретна орієнтація);
▪ 480 px – мобільний пристрій (альбомна орієнтація);
▪ 600 px – невеликі планшети;
▪ 768 px – планшети (портретна орієнтація);
▪ 1024 px – планшети (альбомна орієнтація);
▪ 1280 px та більше – PC.
*/
body{
    margin: 0;
    font-family: Arial;
}

.container{
    max-width: 1280px;
    /*border: 1px solid blue;*/
    margin: auto;
    height: 1794px;
    display: flex;
}

header{
    /*margin: 15px;*/
    width: 32%;
    /* height: 100%; */
    /*border: 1px solid gray*/
}

main{
    margin: 30px 70px;
    width: 68%;
    text-align: justify;
    /* height: 100%; */
    /*border: 1px solid gray*/
}

.user-photo{
    width: 58%;
    max-width: 430px;
    /* height: 25.618%; */
    margin: 90px auto 40px auto;
    /*border: 1px solid red;*/
}

.user-photo>img{
    width: 100%;
    max-width: 430px;
    /* height: 100%; */
}
.header-title{
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.header-title>span{
    font-weight: 800;
}

.main-discription{
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-section{
    /* min-height: 66%; */
    height: 69%;
    /*border: 1px solid red;*/
    /* background-image: url("images/background_img288x.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; */
    background-color:rgb(196, 227, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

article{
/* height: 24%; */
/* padding: 0 0 0 20px; */
/*border: 1px solid rgb(0, 204, 255);*/
display: flex;
flex-direction: column;
align-items: flex-start;
}

.row-article{
    width: 70%;
    display: flex;
    align-items: center;
    /*background-color: lightgray;*/
    margin: 5px auto 5px auto;
}
.img-contact{
    width: 27px;
    margin: 4px 15px auto 5px;
}

.address-logo{
    width: 22px;
}

.phone-logo{
    width: 23px;

}

.img-follow-me{
    width: 34px;
    margin: 4px 15px auto 5px;
}

.row-name-language{

}
.img-point-language{
    width: 12px;
    /*margin: 0 4px 0 0;*/
    /*margin-left: auto;*/
}

.name-language{
    text-transform: uppercase;
    font-size: 16px;
    margin: 7px auto 7px 4px;
    justify-content: space-between;
}

.row-point{
    width: 55%;
    display: flex;
    justify-content: space-around;
    /*margin: auto 4px auto auto;*/
    margin-left: auto;
    /*background: blue;*/
}

.container-hobbies{
flex-flow: wrap;
}

.container-hobbies>span{
    width: 40%;
    margin: 15px 4px 15px 4px;
}

a{
    text-decoration: none;
    color: black;
}

address{
    font-style:unset;
}

.block-title-article{
    background: rgb(64, 64, 66);
}

.title-article{
    width: 99%;
    color: white;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.main-title-article{
    width: 100%;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.692);
    padding: 10px 0 8px 0;
    margin: 0;
}

.img-logo-in-main{
    width: 48px;
    margin: 0 35px 0 0;
}

.main-section{
    height: 100%;
    /*border: 1px solid red;*/
    /* padding: 15px; */
    /* background-image: url("images/background_img288x.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; */
    /*background-color:rgb(233, 196, 224);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.row-article-in-main{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /*background-color: lightgray;*/
    margin: 0 0 10px 0;
}

.place-of-education{
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    
}
.place-of-education p:first-child{
    font-weight: bold;
    margin: auto 20px auto 0;
    font-size: 16px ;
}

.place-of-education p:last-child{
   min-width: 230px;
   font-size: 13px ;
    text-align: right;
}



